.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.5)), url('https://images.pexels.com/photos/876467/pexels-photo-876467.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
}

.register-title {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

.register-form {
    margin-top: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.register-form > label {
    margin: 10px 0;
    font-family: 'Roboto', sans-serif;
}

.register-input {
    padding: 10px;
    background-color: white;
    border: none;
}

.register-register-button {
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.register-login-button {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}